<h1><%= @profile.name %></h1>
<ul id="leftColumn">
	<li>
		<%= image_tag('sunleft.png') %>
		<span>Ensoleillement :</span>
		<span id="light" class=<%= @profile.luminosities.last.state %>><%= @profile.luminosities.last.value %></span>
	</li>
	<li>
		<%= image_tag('waterleft.png') %>
		<span>Humidité :</span>
		<span id="water" class=<%= @profile.humidities.last.state %>><%= @profile.humidities.last.value %></span>
	</li>
	<li>
		<%= image_tag('termoleft.png') %>
		<span>Température :</span>
		<span id="temp" class=<%= @profile.temps.last.state %>><%= @profile.temps.last.value %> °C</span>
	</li>
</ul>
<div id="rightcolumn">
</div>

<%= @profile.plant.planting.html_safe %>
<%= @profile.plant.pests.html_safe %>
<%= @profile.plant.blooming.html_safe %>
<%= @profile.plant.fertilization.html_safe %>
<%= @profile.plant.hardiness_zone_min %>